{% block sw_cms_preview_mw_triple_card %}
    <div class="sw-cms-preview-mw-triple-card">
        <div class="mw-tc-bprev__left">
            <span class="mw-tc-bprev__headline">Headline</span>
            <span class="mw-tc-bprev__icon">⚙</span>
            <span class="mw-tc-bprev__desc">Icon description</span>
        </div>
        <div class="mw-tc-bprev__mid">
            <span class="mw-tc-bprev__sub">Sub Heading</span>
            <span class="mw-tc-bprev__headline">Heading</span>
            <span class="mw-tc-bprev__desc">Description</span>
            <span class="mw-tc-bprev__btn">Button</span>
            <span class="mw-tc-bprev__after">⚙ After text</span>
        </div>
        <div class="mw-tc-bprev__right">
            <span class="mw-tc-bprev__desc">Description</span>
            <span class="mw-tc-bprev__after">⚙ Text</span>
        </div>
    </div>
{% endblock %}
