.sw-cms-el-mw-hero-rotator {
    padding: 60px 32px;
    text-align: left;

    &__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 12px;
    }

    &__lines {
        display: flex;
        flex-direction: column;
    }

    &__line {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
    }
}
