{% block sw_cms_preview_mw_hero_banner %}
    <div class="sw-cms-preview-mw-hero-banner">
        <div class="sw-cms-preview-mw-hero-banner__left">
            <div class="sw-cms-preview-mw-hero-banner__heading">
                LÖSUNGEN, DIE IHREN <span>VORSPRUNG</span> SICHERN.
            </div>
            <div class="sw-cms-preview-mw-hero-banner__description">
                Anlagen, Maschinen und Komplettlösungen für die professionelle Felgenaufbereitung.
            </div>
            <div class="sw-cms-preview-mw-hero-banner__actions">
                <div class="sw-cms-preview-mw-hero-banner__btn sw-cms-preview-mw-hero-banner__btn--primary">ZU DEN ANLAGEN</div>
                <div class="sw-cms-preview-mw-hero-banner__btn sw-cms-preview-mw-hero-banner__btn--outline">BERATUNG ANFORDERN</div>
            </div>
        </div>
        <div class="sw-cms-preview-mw-hero-banner__right"></div>
    </div>
{% endblock %}
