{% block sw_cms_el_preview_mw_triple_card %}
    <div class="sw-cms-el-preview-mw-triple-card">
        <div class="mw-tc-prev__left">
            <span class="mw-tc-prev__headline">Headline</span>
            <span class="mw-tc-prev__icon">⚙</span>
            <span class="mw-tc-prev__desc">Icon description</span>
        </div>
        <div class="mw-tc-prev__mid">
            <span class="mw-tc-prev__sub">Sub Heading</span>
            <span class="mw-tc-prev__headline">Heading</span>
            <span class="mw-tc-prev__desc">Description…</span>
            <span class="mw-tc-prev__btn">Button</span>
            <span class="mw-tc-prev__after">⚙ After text</span>
        </div>
        <div class="mw-tc-prev__right">
            <span class="mw-tc-prev__desc">Description…</span>
            <span class="mw-tc-prev__after">⚙ Text</span>
        </div>
    </div>
{% endblock %}
