.sw-cms-el-config-mw-profile-tabs {
    &__tabs {
        display: grid;
        gap: 12px;
        margin-top: 16px;
    }

    &__tab {
        padding: 12px;
        border: 1px solid #d1d9e0;
        border-radius: 8px;
        background: #fff;
    }
}
