<div class="sw-cms-el-config-mw-profile-tabs">
    <sw-text-field v-model:value="element.config.subheadline.value" label="Subheadline" @update:value="onInput" />
    <sw-text-field v-model:value="element.config.name.value" label="Name" @update:value="onInput" />
    <sw-text-field v-model:value="element.config.role.value" label="Role" @update:value="onInput" />

    <div class="sw-cms-el-config-mw-profile-tabs__tabs-header">
        <sw-button size="small" variant="primary" icon="regular-plus-xs" @click="addTab">Add Tab</sw-button>
    </div>

    <div class="sw-cms-el-config-mw-profile-tabs__tabs">
        <article
            v-for="(tab, index) in tabs"
            :key="index"
            class="sw-cms-el-config-mw-profile-tabs__tab"
        >
            <header class="sw-cms-el-config-mw-profile-tabs__tab-header">
                <strong>Tab {{ index + 1 }}</strong>
                <sw-button size="small" variant="ghost-danger" @click="removeTab(index)">Remove</sw-button>
            </header>

            <sw-text-field :value="tab.title" label="Tab title" @update:value="updateTab(index, 'title', $event)" />
            <sw-text-editor
                :value="tab.content"
                label="Tab content"
                sanitize-info-warn
                enable-transparent-background
                @update:value="updateTab(index, 'content', $event)"
            />
        </article>
    </div>

    <sw-media-upload-v2
        variant="regular"
        :upload-tag="uploadTag"
        :source="element.data?.media"
        :allow-multi-select="false"
        :default-folder="cmsPageState.pageEntityName"
        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
        @media-upload-sidebar-open="onOpenMediaModal"
        @media-upload-remove-image="element.config.media.value = null; element.data.media = null; onInput()"
    />
    <sw-upload-listener
        :upload-tag="uploadTag"
        auto-upload
        @media-upload-finish="onSelectionChanges([$event.media])"
    />
    <sw-media-modal-v2
        v-if="mediaModalIsOpen"
        variant="full"
        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
        :entity-context="cmsPageState.entityName"
        :allow-multi-select="false"
        :initial-folder-id="cmsPageState.defaultMediaFolderId"
        @media-modal-selection-change="onSelectionChanges"
        @modal-close="onCloseModal"
    />

    <sw-text-field v-model:value="element.config.buttonLabel.value" label="Button label" @update:value="onInput" />
    <sw-single-select
        v-model:value="element.config.buttonType.value"
        label="Button type"
        :options="[{ value: 'internal', label: 'Internal' }, { value: 'external', label: 'External' }]"
        @update:value="onInput"
    />
    <sw-dynamic-url-field
        v-if="element.config.buttonType.value === 'internal'"
        v-model:value="element.config.buttonLink.value"
    />
    <sw-text-field
        v-else
        v-model:value="element.config.buttonLink.value"
        label="Button link"
        @update:value="onInput"
    />
    <sw-switch-field v-model:value="element.config.buttonNewTab.value" label="Open in new tab" @update:value="onInput" />
</div>
