<div class="sw-cms-el-preview-mw-technical-feature-list">
    <span class="sw-cms-el-preview-mw-technical-feature-list__media"></span>
    <span class="sw-cms-el-preview-mw-technical-feature-list__line sw-cms-el-preview-mw-technical-feature-list__line--short"></span>
    <span class="sw-cms-el-preview-mw-technical-feature-list__line"></span>
    <span class="sw-cms-el-preview-mw-technical-feature-list__line sw-cms-el-preview-mw-technical-feature-list__line--small"></span>
</div>
