{% block sw_cms_el_preview_mainhattan_icon_feature_bar %}
    <div class="sw-cms-el-preview-mainhattan-icon-feature-bar">
        {% for i in 1..4 %}
            <div class="sw-cms-el-preview-mainhattan-icon-feature-bar__item">
                <div class="sw-cms-el-preview-mainhattan-icon-feature-bar__icon"></div>
                <div class="sw-cms-el-preview-mainhattan-icon-feature-bar__text">
                    <span class="sw-cms-el-preview-mainhattan-icon-feature-bar__heading"></span>
                    <span class="sw-cms-el-preview-mainhattan-icon-feature-bar__desc"></span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
