{% block sw_cms_preview_mw_before_after %}
    <div class="sw-cms-preview-mw-before-after">
        <div class="mw-ba-preview-title">
            Before-After Grid
        </div>
        <div class="mw-ba-preview-grid">
            <div class="mw-ba-preview-col"></div>
            <div class="mw-ba-preview-col"></div>
            <div class="mw-ba-preview-col"></div>
        </div>
    </div>
{% endblock %}
