{% block sw_cms_preview_mw_dual_card %}
    <div class="sw-cms-preview-mw-dual-card">
        <div class="sw-cms-preview-mw-dual-card__left">
            <span class="mw-bprev-heading">Left Heading</span>
            <span class="mw-bprev-desc">Description text…</span>
            <span class="mw-bprev-btn">Button</span>
        </div>
        <div class="sw-cms-preview-mw-dual-card__right">
            <span class="mw-bprev-heading">Right Heading</span>
            <ul class="mw-bprev-features">
                <li>✔ Feature 1</li>
                <li>✔ Feature 2</li>
                <li>✔ Feature 3</li>
            </ul>
            <span class="mw-bprev-btn mw-bprev-btn--orange">Button</span>
        </div>
    </div>
{% endblock %}
