.sw-cms-preview-mw-profile-tabs {
    padding: 16px;
}

.sw-cms-preview-mw-profile-tabs__headline {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.sw-cms-preview-mw-profile-tabs__line {
    height: 10px;
    margin-bottom: 8px;
    background: linear-gradient(90deg, #f2f3f5 0%, #e8ebef 100%);
    border-radius: 999px;
}

.sw-cms-preview-mw-profile-tabs__line--short {
    width: 70%;
}
