<div class="sw-cms-preview-mw-profile-tabs">
    <div class="sw-cms-preview-mw-profile-tabs__headline">
        Profil
    </div>
    <div class="sw-cms-preview-mw-profile-tabs__line"></div>
    <div class="sw-cms-preview-mw-profile-tabs__line sw-cms-preview-mw-profile-tabs__line--short"></div>
</div>
