<div class="sw-cms-el-preview-mw-subcategory-grid">
    <div class="sw-cms-el-preview-mw-subcategory-grid__title">Weitere Anlagen für die Felgenbearbeitung</div>
    <div class="sw-cms-el-preview-mw-subcategory-grid__grid">
        <div v-for="n in 6" :key="n" class="sw-cms-el-preview-mw-subcategory-grid__card"></div>
    </div>
</div>
