<div class="sw-cms-preview-mw-text-video">
    <div class="preview-text-col">
        <div class="preview-title"></div>
        <div class="preview-text-line"></div>
        <div class="preview-text-line"></div>
        <div class="preview-btn"></div>
    </div>
    <div class="preview-media-col">
        <div class="preview-media-placeholder">
            <sw-icon name="regular-play" size="14px" class="preview-play-icon"></sw-icon>
        </div>
    </div>
</div>
