<div class="sw-cms-preview-mw-file-download-block">
    <div class="sw-cms-preview-mw-file-download-block__row">
        <div class="sw-cms-preview-mw-file-download-block__card">
            <div class="sw-cms-preview-mw-file-download-block__image"></div>
            <div class="sw-cms-preview-mw-file-download-block__text">
                <span class="sw-cms-preview-mw-file-download-block__line sw-cms-preview-mw-file-download-block__line--title"></span>
                <span class="sw-cms-preview-mw-file-download-block__line sw-cms-preview-mw-file-download-block__line--sub"></span>
                <span class="sw-cms-preview-mw-file-download-block__btn"></span>
            </div>
        </div>
        <div class="sw-cms-preview-mw-file-download-block__card">
            <div class="sw-cms-preview-mw-file-download-block__image sw-cms-preview-mw-file-download-block__image--optional"></div>
            <div class="sw-cms-preview-mw-file-download-block__text">
                <span class="sw-cms-preview-mw-file-download-block__line sw-cms-preview-mw-file-download-block__line--title"></span>
                <span class="sw-cms-preview-mw-file-download-block__line sw-cms-preview-mw-file-download-block__line--sub"></span>
                <span class="sw-cms-preview-mw-file-download-block__btn"></span>
            </div>
        </div>
    </div>
</div>
