<div class="sw-cms-el-preview-mw-profile-tabs">
    <span class="sw-cms-el-preview-mw-profile-tabs__media"></span>
    <span class="sw-cms-el-preview-mw-profile-tabs__copy">
        <span class="sw-cms-el-preview-mw-profile-tabs__line sw-cms-el-preview-mw-profile-tabs__line--short"></span>
        <span class="sw-cms-el-preview-mw-profile-tabs__line"></span>
        <span class="sw-cms-el-preview-mw-profile-tabs__tabs">
            <span class="sw-cms-el-preview-mw-profile-tabs__tab is--active">Vita</span>
            <span class="sw-cms-el-preview-mw-profile-tabs__tab">Know-How</span>
        </span>
    </span>
</div>
