{% block sw_cms_element_preview_ict_hero_section %}
<div class="sw-cms-el-preview-ict-hero-section">
    <div class="sw-cms-el-preview-ict-hero-section__container">
        <!-- Left Section Preview -->
        <div class="sw-cms-el-preview-ict-hero-section__left-section">
            <div class="sw-cms-el-preview-ict-hero-section__label">
                Lorem ipsum
            </div>
            <h1 class="sw-cms-el-preview-ict-hero-section__headline">
                Lorem ipsum hero headline
            </h1>
            <p class="sw-cms-el-preview-ict-hero-section__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="sw-cms-el-preview-ict-hero-section__buttons">
                <div class="sw-cms-el-preview-ict-hero-section__button sw-cms-el-preview-ict-hero-section__button--primary">
                    Primary action
                </div>
                <div class="sw-cms-el-preview-ict-hero-section__button sw-cms-el-preview-ict-hero-section__button--secondary">
                    Secondary action
                </div>
            </div>
        </div>

        <!-- Right Section Preview -->
        <div class="sw-cms-el-preview-ict-hero-section__right-section">
            <div class="sw-cms-el-preview-ict-hero-section__image-placeholder"></div>
        </div>
    </div>
</div>
{% endblock %}
