.sw-cms-el-preview-mw-wheel-showcase {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    background-color: #f7f9fa;
    border-radius: 4px;

    .sw-cms-el-preview-mw-wheel-showcase__main-box {
        display: flex;
        gap: 8px;
        height: 60px;
        background-color: #fff;
        border: 1px solid #d8dee2;
        padding: 5px;
        border-radius: 3px;

        .sw-cms-el-preview-mw-wheel-showcase__left {
            width: 40px;
            background-color: #e5ebed;
            border-radius: 2px;
        }

        .sw-cms-el-preview-mw-wheel-showcase__right {
            flex: 1;
            background-color: #f3f6f8;
            border-radius: 2px;
        }
    }

    .sw-cms-el-preview-mw-wheel-showcase__row {
        display: flex;
        gap: 5px;

        .sw-cms-el-preview-mw-wheel-showcase__thumb {
            width: 20px;
            height: 20px;
            background-color: #e5ebed;
            border: 1px solid #d8dee2;
            border-radius: 2px;
        }
    }
}
