{% block sw_cms_el_preview_mw_wheel_showcase %}
    <div class="sw-cms-el-preview-mw-wheel-showcase">
        <div class="sw-cms-el-preview-mw-wheel-showcase__main-box">
            <div class="sw-cms-el-preview-mw-wheel-showcase__left"></div>
            <div class="sw-cms-el-preview-mw-wheel-showcase__right"></div>
        </div>
        <div class="sw-cms-el-preview-mw-wheel-showcase__row">
            <div class="sw-cms-el-preview-mw-wheel-showcase__thumb"></div>
            <div class="sw-cms-el-preview-mw-wheel-showcase__thumb"></div>
            <div class="sw-cms-el-preview-mw-wheel-showcase__thumb"></div>
        </div>
    </div>
{% endblock %}
