.sw-cms-el-config-mw-text-video {
    padding: 15px;

    &__tab-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 15px;
    }

    &__media-upload {
        margin-bottom: 10px;
    }
}
