{% block sw_cms_preview_ict_hero_section %}
<div class="sw-cms-preview-ict-hero-section">
    <div class="sw-cms-preview-ict-hero-section__container">
        <div class="sw-cms-preview-ict-hero-section__left">
            <div class="sw-cms-preview-ict-hero-section__label">Lorem ipsum</div>
            <div class="sw-cms-preview-ict-hero-section__title">Lorem ipsum hero headline</div>
            <div class="sw-cms-preview-ict-hero-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            <div class="sw-cms-preview-ict-hero-section__buttons">
                <div class="sw-cms-preview-ict-hero-section__button sw-cms-preview-ict-hero-section__button--primary">Primary action</div>
                <div class="sw-cms-preview-ict-hero-section__button sw-cms-preview-ict-hero-section__button--secondary">Secondary action</div>
            </div>
        </div>
        <div class="sw-cms-preview-ict-hero-section__right">
            <div class="sw-cms-preview-ict-hero-section__image-placeholder"></div>
        </div>
    </div>
</div>
{% endblock %}
