<div class="sw-cms-preview-mw-product-carousel">
    <div class="sw-cms-preview-mw-product-carousel__head"></div>
    <div class="sw-cms-preview-mw-product-carousel__cards">
        <div class="sw-cms-preview-mw-product-carousel__card" v-for="i in 3" :key="i"></div>
    </div>
</div>
