{% block sw_cms_el_preview_mw_dual_card %}
    <div class="sw-cms-el-preview-mw-dual-card">
        <div class="sw-cms-el-preview-mw-dual-card__left">
            <span class="mw-prev-heading">Left Heading</span>
            <span class="mw-prev-desc">Description text…</span>
            <span class="mw-prev-btn">Button</span>
        </div>
        <div class="sw-cms-el-preview-mw-dual-card__right">
            <span class="mw-prev-heading">Right Heading</span>
            <ul class="mw-prev-features">
                <li>✔ Feature 1</li>
                <li>✔ Feature 2</li>
                <li>✔ Feature 3</li>
            </ul>
            <span class="mw-prev-btn mw-prev-btn--orange">Button</span>
        </div>
    </div>
{% endblock %}
