<div class="sw-cms-preview-mw-subcategory-grid-block">
    <div class="sw-cms-preview-mw-subcategory-grid-block__title"></div>
    <div class="sw-cms-preview-mw-subcategory-grid-block__grid">
        <div v-for="n in 6" :key="n" class="sw-cms-preview-mw-subcategory-grid-block__card"></div>
    </div>
</div>
