{% block sw_cms_preview_mw_card_grid %}
    <div class="sw-cms-preview-mw-card-grid">
        <div class="sw-cms-preview-mw-card-grid__item">01</div>
        <div class="sw-cms-preview-mw-card-grid__item is--active">02</div>
        <div class="sw-cms-preview-mw-card-grid__item">03</div>
        <div class="sw-cms-preview-mw-card-grid__item">04</div>
    </div>
{% endblock %}
