<div class="sw-cms-preview-mw-technical-feature-list">
    <div class="sw-cms-preview-mw-technical-feature-list__bar"></div>
    <div class="sw-cms-preview-mw-technical-feature-list__grid">
        <div class="sw-cms-preview-mw-technical-feature-list__card" v-for="i in 4" :key="i"></div>
    </div>
</div>
