{% block sw_cms_el_preview_mw_product_grid %}
    <div class="sw-cms-el-preview-mw-product-grid">
        <div class="sw-cms-el-preview-mw-product-grid__card"></div>
        <div class="sw-cms-el-preview-mw-product-grid__card"></div>
        <div class="sw-cms-el-preview-mw-product-grid__card"></div>
        <div class="sw-cms-el-preview-mw-product-grid__card"></div>
    </div>
{% endblock %}
