<div class="sw-cms-el-preview-mw-file-download">
    <div class="sw-cms-el-preview-mw-file-download__card">
        <div class="sw-cms-el-preview-mw-file-download__image"></div>
        <div class="sw-cms-el-preview-mw-file-download__content">
            <div class="sw-cms-el-preview-mw-file-download__title"></div>
            <div class="sw-cms-el-preview-mw-file-download__subtitle"></div>
            <div class="sw-cms-el-preview-mw-file-download__button"></div>
        </div>
    </div>
    <div class="sw-cms-el-preview-mw-file-download__card">
        <div class="sw-cms-el-preview-mw-file-download__image sw-cms-el-preview-mw-file-download__image--optional"></div>
        <div class="sw-cms-el-preview-mw-file-download__content">
            <div class="sw-cms-el-preview-mw-file-download__title"></div>
            <div class="sw-cms-el-preview-mw-file-download__subtitle"></div>
            <div class="sw-cms-el-preview-mw-file-download__button"></div>
        </div>
    </div>
</div>
