<div class="sw-cms-el-preview-mw-text-video">
    <div class="preview-left">
        <div class="preview-heading"></div>
        <div class="preview-text-line"></div>
        <div class="preview-text-line short"></div>
        <div class="preview-button"></div>
    </div>
    <div class="preview-right">
        <div class="preview-image-placeholder">
            <sw-icon name="regular-video" size="20px" class="preview-icon"></sw-icon>
        </div>
    </div>
</div>
