{% block sw_cms_el_preview_mw_card_grid %}
    <div class="sw-cms-el-preview-mw-card-grid">
        <div class="sw-cms-el-preview-mw-card-grid__card">01</div>
        <div class="sw-cms-el-preview-mw-card-grid__card is--active">02</div>
        <div class="sw-cms-el-preview-mw-card-grid__card">03</div>
        <div class="sw-cms-el-preview-mw-card-grid__card">04</div>
    </div>
{% endblock %}
