{% block block_mw_card_grid %}
    {% set element = block.slots.getSlot('cardGrid') %}

    {% if element %}
        <div class="cms-block-mw-card-grid">
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing with { element: element } %}
            </div>
        </div>
    {% endif %}
{% endblock %}
