{% block block_ict_three_column %}
    {% set columns = 3 %}

    {% block block_ict_three_column_left %}
        {% set element = block.slots.getSlot('left') %}
        {% if element %}
            <div class="col-md-4" data-cms-element-id="{{ element.id }}">
                {% block block_ict_three_column_left_inner %}
                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {% block block_ict_three_column_center %}
        {% set element = block.slots.getSlot('center') %}
        {% if element %}
            <div class="col-md-4" data-cms-element-id="{{ element.id }}">
                {% block block_ict_three_column_center_inner %}
                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {% block block_ict_three_column_right %}
        {% set element = block.slots.getSlot('right') %}
        {% if element %}
            <div class="col-md-4" data-cms-element-id="{{ element.id }}">
                {% block block_ict_three_column_right_inner %}
                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
