{% block block_mw_product_carousel %}
    {% set element = block.slots.getSlot('productCarousel') %}
    {% if element %}
        <div class="col-12" data-cms-element-id="{{ element.id }}">
            {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing with { element: element } %}
        </div>
    {% endif %}
{% endblock %}
