.sw-cms-el-config-mw-hero-rotator {
    &__section-title {
        font-weight: 600;
        font-size: 14px;
        color: #52667a;
        margin: 20px 0 12px;
        padding-bottom: 8px;
        border-bottom: 1px solid #d1d9e0;
    }

    &__line {
        margin-bottom: 8px;
    }
}
