{% block sw_cms_preview_mw_buttons %}
    <div class="sw-cms-preview-mw-buttons">
        <div class="mw-preview-btn-solid">Button 1 →</div>
        <div class="mw-preview-btn-outline">Button 2 →</div>
    </div>
{% endblock %}
