.sw-cms-el-config-mw-hero-banner {
    .mw-config-row-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-bottom: 16px;
    }

    .mw-config-section-title {
        font-weight: 600;
        font-size: 14px;
        color: #52667a;
        margin: 20px 0 12px;
        padding-bottom: 8px;
        border-bottom: 1px solid #d1d9e0;
    }
}
