{% block sw_cms_el_config_mw_hero_banner %}
    <sw-tabs class="sw-cms-el-config-mw-hero-banner" default-item="content">
        <template #default="{ active }">
            <sw-tabs-item name="content" :active-tab="active">{{ $tc('mw-cms.elements.mwHeroBanner.config.content') }}</sw-tabs-item>
            <sw-tabs-item name="buttons" :active-tab="active">{{ $tc('mw-cms.elements.mwHeroBanner.config.buttons') }}</sw-tabs-item>
            <sw-tabs-item name="background" :active-tab="active">{{ $tc('mw-cms.elements.mwHeroBanner.config.background') }}</sw-tabs-item>
        </template>

        <template #content="{ active }">
            <sw-container v-if="active === 'content'" class="sw-cms-el-config-mw-hero-banner__content">
                <mt-text-field
                    v-model="element.config.headingText.value"
                    :label="$tc('mw-cms.elements.mwHeroBanner.config.heading')"
                    @update:model-value="onInput"
                />
                <sw-colorpicker
                    v-model:value="element.config.headingColor.value"
                    :label="$tc('mw-cms.elements.mwHeroBanner.config.headingColor')"
                    color-output="hex"
                    :z-index="1000"
                    @update:value="onInput"
                />

                <mt-textarea
                    v-model="element.config.descriptionText.value"
                    :label="$tc('mw-cms.elements.mwHeroBanner.config.description')"
                    @update:model-value="onInput"
                />
                <sw-colorpicker
                    v-model:value="element.config.descriptionColor.value"
                    :label="$tc('mw-cms.elements.mwHeroBanner.config.descriptionColor')"
                    color-output="hex"
                    :z-index="1000"
                    @update:value="onInput"
                />

                <div class="mw-config-section-title">{{ $tc('mw-cms.elements.mwHeroBanner.config.rightImage') }}</div>
                <sw-media-upload-v2
                    variant="regular"
                    :upload-tag="rightUploadTag"
                    :source="rightPreviewSource"
                    :allow-multi-select="false"
                    :default-folder="cmsPageState.pageEntityName"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    @media-upload-sidebar-open="onOpenRightMediaModal"
                    @media-upload-remove-image="onRightImageRemove"
                />
                <sw-upload-listener
                    :upload-tag="rightUploadTag"
                    auto-upload
                    @media-upload-finish="onRightImageUpload"
                />
                <sw-media-modal-v2
                    v-if="rightMediaModalIsOpen"
                    variant="full"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :entity-context="cmsPageState.entityName"
                    :allow-multi-select="false"
                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                    @media-modal-selection-change="onRightSelectionChanges"
                    @modal-close="onCloseRightModal"
                />
            </sw-container>

            <sw-container v-if="active === 'buttons'" class="sw-cms-el-config-mw-hero-banner__buttons">
                <div class="mw-config-section-title">{{ $tc('mw-cms.elements.mwHeroBanner.config.primaryButton') }}</div>
                <mt-text-field
                    v-model="element.config.primaryButtonText.value"
                    :label="$tc('mw-cms.elements.mwHeroBanner.config.buttonText')"
                    @update:model-value="onInput"
                />
                <mt-text-field
                    v-model="element.config.primaryButtonUrl.value"
                    :label="$tc('mw-cms.elements.mwHeroBanner.config.buttonUrl')"
                    @update:model-value="onInput"
                />
                <mt-select
                    v-model="element.config.primaryButtonTarget.value"
                    :label="$tc('mw-cms.elements.mwHeroBanner.config.buttonTarget')"
                    :options="[{ value: '_self', label: $tc('mw-cms.elements.mwHeroBanner.config.sameTab') }, { value: '_blank', label: $tc('mw-cms.elements.mwHeroBanner.config.newTab') }]"
                    @update:model-value="onInput"
                />
                <div class="mw-config-row-2">
                    <sw-colorpicker
                        v-model:value="element.config.primaryButtonTextColor.value"
                        :label="$tc('mw-cms.elements.mwHeroBanner.config.textColor')"
                        color-output="hex"
                        :z-index="1000"
                        @update:value="onInput"
                    />
                    <sw-colorpicker
                        v-model:value="element.config.primaryButtonBgColor.value"
                        :label="$tc('mw-cms.elements.mwHeroBanner.config.backgroundColor')"
                        color-output="hex"
                        :z-index="1000"
                        @update:value="onInput"
                    />
                </div>

                <div class="mw-config-section-title">{{ $tc('mw-cms.elements.mwHeroBanner.config.secondaryButton') }}</div>
                <mt-text-field
                    v-model="element.config.secondaryButtonText.value"
                    :label="$tc('mw-cms.elements.mwHeroBanner.config.buttonText')"
                    @update:model-value="onInput"
                />
                <mt-text-field
                    v-model="element.config.secondaryButtonUrl.value"
                    :label="$tc('mw-cms.elements.mwHeroBanner.config.buttonUrl')"
                    @update:model-value="onInput"
                />
                <mt-select
                    v-model="element.config.secondaryButtonTarget.value"
                    :label="$tc('mw-cms.elements.mwHeroBanner.config.buttonTarget')"
                    :options="[{ value: '_self', label: $tc('mw-cms.elements.mwHeroBanner.config.sameTab') }, { value: '_blank', label: $tc('mw-cms.elements.mwHeroBanner.config.newTab') }]"
                    @update:model-value="onInput"
                />
                <div class="mw-config-row-2">
                    <sw-colorpicker
                        v-model:value="element.config.secondaryButtonTextColor.value"
                        :label="$tc('mw-cms.elements.mwHeroBanner.config.textColor')"
                        color-output="hex"
                        :z-index="1000"
                        @update:value="onInput"
                    />
                    <sw-colorpicker
                        v-model:value="element.config.secondaryButtonBgColor.value"
                        :label="$tc('mw-cms.elements.mwHeroBanner.config.backgroundColor')"
                        color-output="hex"
                        :z-index="1000"
                        @update:value="onInput"
                    />
                </div>
            </sw-container>

            <sw-container v-if="active === 'background'" class="sw-cms-el-config-mw-hero-banner__background">
                <sw-media-upload-v2
                    variant="regular"
                    :upload-tag="bgUploadTag"
                    :source="bgPreviewSource"
                    :allow-multi-select="false"
                    :default-folder="cmsPageState.pageEntityName"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    @media-upload-sidebar-open="onOpenBgMediaModal"
                    @media-upload-remove-image="onBgImageRemove"
                />
                <sw-upload-listener
                    :upload-tag="bgUploadTag"
                    auto-upload
                    @media-upload-finish="onBgImageUpload"
                />
                <sw-media-modal-v2
                    v-if="bgMediaModalIsOpen"
                    variant="full"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :entity-context="cmsPageState.entityName"
                    :allow-multi-select="false"
                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                    @media-modal-selection-change="onBgSelectionChanges"
                    @modal-close="onCloseBgModal"
                />
            </sw-container>
        </template>
    </sw-tabs>
{% endblock %}
