{% block sw_cms_element_mw_category_showcase %}
<div class="sw-cms-el-mw-category-showcase">
    <div class="sw-cms-el-mw-category-showcase__header">
        <span class="sw-cms-el-mw-category-showcase__title">
            {{ $tc('mw-cms.elements.mwCategoryShowcase.label') }}
        </span>
    </div>
    <div class="sw-cms-el-mw-category-showcase__body">
        {{ $tc('mw-cms.elements.mwCategoryShowcase.previewHint') }}
    </div>
</div>
{% endblock %}
