{% block sw_cms_preview_mw_product_grid %}
    <div class="sw-cms-preview-mw-product-grid">
        <div class="sw-cms-preview-mw-product-grid__item">Product</div>
        <div class="sw-cms-preview-mw-product-grid__item">Product</div>
        <div class="sw-cms-preview-mw-product-grid__item">Product</div>
        <div class="sw-cms-preview-mw-product-grid__item">Product</div>
    </div>
{% endblock %}
