{% block sw_cms_block_mainhattan_listpage_text_image %}
    <div class="sw-cms-preview-mainhattan-image-text">
        <div>
            <h1>Lorem ipsum dolor</h1>
        </div>
        <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
        >
    </div>
{% endblock %}