{% block sw_cms_block_preview_mw_wheel_showcase %}
    <div class="sw-cms-preview-mw-wheel-showcase">
        <div class="sw-cms-preview-mw-wheel-showcase__main-box"></div>
        <div class="sw-cms-preview-mw-wheel-showcase__row">
            <div class="sw-cms-preview-mw-wheel-showcase__dot"></div>
            <div class="sw-cms-preview-mw-wheel-showcase__dot"></div>
            <div class="sw-cms-preview-mw-wheel-showcase__dot"></div>
        </div>
    </div>
{% endblock %}
